*{
    /* topmargin: 0; */
    /* 暫時修改為margin:0 */
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    height: 100%;
    margin-top: 10%;
    background-color:rgb(79, 106, 143);
    text-align: center;
}
button{
    font-size: 20px;
    text-align: center;
    background-color:rgba(217, 148, 119); 
    color:rgb(255, 255, 255);
    padding: 10px 18px 10px;
    margin: 1.5% 0 1%;
    border-radius: 20px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    animation: slide-in-top 1.5s  forwards;
    /* animation: bounce-in-top 0.5s 1s forwards; 使用 forwards 保持動畫結束狀態 */
}

h1{
    font-size: 200px;
    color:rgb(79, 106, 143);
    border: 0px;
}
h2{
    font-size: 50px;
    color:rgba(217, 148, 119);
}
h3{
    font-size: 20px;
    color:rgb(251, 244, 227);
}
h4{
    display: inline-block;
    margin: 5% 0 5%;
    padding: 30px;
    font-size: 50px;
    color:rgb(79, 106, 143);
    background-color: rgb(255, 255, 255);
    border: 100px;
    border-radius: 20px;
}

a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.slide-in-top {
   
    -webkit-animation: slide-in-top 1s  forwards;
    animation: slide-in-top 1s  forwards;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
        
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
       
    }
}
.bounce-in-top {
    visibility: hidden; /* 初始時元素隱藏 */
    animation: bounce-in-top 1s 1s forwards; /* 使用 forwards 保持動畫結束狀態 */
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
        visibility: visible; /* 在動畫開始時讓元素顯示 */
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        visibility: visible;
    }
}
.button1 {
    background-color: rgba(217, 148, 119);
    /* border: 2px solid white; */
  }
.button1:hover{
    background-color: #66DED8;
    color: white;
}